@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;400&display=swap');

/* Splash Screen */

.intro{
	position: fixed;
	z-index: 1;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100vh;
	background-color: #049415;
	transition: 1s;
}

.logo1-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #D9DCD6;
}

.logo1{
	font-size: 40px;
}

.img1{
	height: 20%;
	width: 20%;
	bottom: -20px;
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.img1.active1{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}
.img1.fade1{
	bottom: 0;
	opacity: 0;
	transition: ease-in-out 0.5s;
}



.logo1{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
}

.logo1.active1{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo1.fade1{
	bottom: 0;
	opacity: 0;
	transition: ease-in-out 0.5s;
}






